@charset "UTF-8";
.main-conteiner {
  width: 80%;
  aspect-ratio: 210/297;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0 2fr;
  grid-template-columns: 1fr 2fr;
  gap: 0;
  background-color: #FFF;
  border-radius: 5px;
  overflow: hidden;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: black;
  opacity: 0.1;
  margin: 10px 0;
}

.sidebar {
  padding: 30px 20px;
  background-color: #F6F6F6;
}
.sidebar .photo {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.sidebar .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar .name {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5em;
}
.sidebar .name span {
  display: block;
  font-size: 0.625em;
}
.sidebar .sidebar-block ul p {
  font-size: 0.9em;
  font-weight: bold;
  color: #221e3d;
}
.sidebar .sidebar-block ul li {
  font-size: 0.7em;
  font-weight: bold;
  color: #221e3d;
  opacity: 0.8;
}

.main-content {
  padding: 30px 20px;
}
.main-content-block ul p {
  font-size: 0.9em;
  font-weight: bold;
  color: #221e3d;
}
.main-content-block ul li {
  font-size: 0.7em;
  color: #221e3d;
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #181728;
  font-family: "Parkinsans", sans-serif;
}
body > p {
  width: 80%;
  color: #FFF;
  opacity: 0.56;
  font-size: 0.7em;
  margin: 20px auto 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}
body > p a {
  margin-left: auto;
}

a {
  color: rgb(255, 115, 139);
}

ul {
  list-style-type: none;
}

/*MEDIA QUERIES*/
@media (max-width: 768px) {
  body {
    padding-top: 0 !important;
  }
  body > p {
    display: none;
  }
  .sidebar {
    padding: 10px;
  }
  .sidebar .main-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar .main-photo .photo {
    width: 50px;
  }
  .sidebar .main-photo .name {
    font-size: 1em;
    margin-top: 0;
    margin-left: 10px;
  }
  .main-conteiner {
    width: 100%;
    aspect-ratio: unset;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; /* Una sola columna */
    -ms-grid-rows: auto;
    grid-template-rows: auto; /* Ajusta las filas automáticamente */
  }
  .main-conteiner > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
@-webkit-keyframes ldio-x2uulkbinbj {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
@keyframes ldio-x2uulkbinbj {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.ldio-x2uulkbinbj div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: ldio-x2uulkbinbj 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: ldio-x2uulkbinbj 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ldio-x2uulkbinbj div:nth-child(1) {
  border-color: #252452;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.ldio-x2uulkbinbj div:nth-child(2) {
  border-color: #252452;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.loadingio-spinner-ripple-nq4q5u6dq7r {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}

.ldio-x2uulkbinbj {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0; /* see note above */
}

.ldio-x2uulkbinbj div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* [ldio] generated by https://loading.io */